.root {
    -fx-background-color: #000000;
}

#canvasContainer {
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
}

.button {
    -fx-background-color:
            #101010,
            radial-gradient(center 50% 0%, radius 100%, rgba(60,60,60,0.9), rgba(255,255,255,0));
    -fx-background-insets: 1;
    -fx-text-fill: #c0c0c0;
    -fx-border-width: 1px;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 3;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color:
            #101010,
            radial-gradient(center 50% 0%, radius 100%, rgba(90,90,90,0.9), rgba(255,255,255,0));
}

.button:pressed {
    -fx-background-color: #101010;
}

.button:focused {
    -fx-border-width: 2px;
}

.robotGauge {
    -fx-background-color: #101010;
    -fx-padding: 2;
}

.robotGaugeLabel {
    -fx-text-fill: #c0c0c0;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: #101010;
}

.scroll-bar .thumb {
    -fx-background-color: #303030;
    -fx-border-color: #101010;
}

.text-area {
    -fx-background-color: #000000;
    -fx-font-family: 'Cascadia Code', 'DejaVu Sans Mono', 'Consolas', monospace;
    -fx-text-fill: #c0c0c0;
}

.text-area .content {
    -fx-background-color: transparent;
}
