<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">jobotwar</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="play">
                <span class="oi oi-code" aria-hidden="true"></span> Play
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="robots">
                <span class="oi oi-people" aria-hidden="true"></span> Robots
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="info">
                <span class="oi oi-info" aria-hidden="true"></span> Info
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = _collapseNavMenu == false;
    }
}
