@using Jobotwar.WebApp.Features.Api
@using Jobotwar.WebApp.Services
@using Microsoft.Extensions.Logging
@using System.Threading
@inject IApiClient _api
@inject ILogger<RobotEditor> _log;
@inject TickerFactory _tickerFactory;
@implements IDisposable

<form action="#" class="row p-3">
    <div class="col-9">
        <label for="robotName" class="col-form-label">Name</label>
        <input type="text" id="robotName" class="form-control" @bind="Robot!.Name"/>
    </div>
    <div class="col-3">
        <label for="robotColor" class="col-form-label">Color</label>
        <input type="color" id="robotColor" class="form-control" @bind="Robot!.Color"/>
    </div>
    <div class="col-12">
        <label for="robotCode" class="col-form-label">Code</label>
        <textarea id="robotCode" class="form-control" rows="12" @bind="Robot!.Code" @oninput="CodeChanged"></textarea>
@if (_compilationError != null)
{
        <div class="alert alert-danger mt-1">@_compilationError</div> 
}
    </div>
</form>

@code {
    [Parameter]
    public RobotModel? Robot
    {
        get => _robotModel;
        set
        {
            _robotModel = value;
            _currentRobotCode = null;
            _compilationError = null;
        }
    }

    private string? _currentRobotCode;
    private RobotModel? _robotModel;
    private string? _compilationError;
    private CancellationTokenSource? _tickerCancellationTokenSource;
    private int? _lastCodeChangeTicks;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tickerCancellationTokenSource = new CancellationTokenSource();
        var _ = _tickerFactory.Repeat(Tick, TimeSpan.FromSeconds(1), _tickerCancellationTokenSource.Token);
    }

    private async Task<bool> Tick()
    {
        var ticks = Environment.TickCount;
        if (_lastCodeChangeTicks == null || ticks - _lastCodeChangeTicks.Value < 1000 || _currentRobotCode == null)
        {
            return true;
        }

        var robot = Robot!;
        var request = new CompileRequest(robot.Name, robot.LanguageVersion, _currentRobotCode);
        _log.LogInformation("issuing compile request: {CompileRequest}", request);
        try
        {
            await _api.Compile(request);
            _compilationError = null;
        }
        catch (BadRequestException e)
        {
            _log.LogError(e, "caught BadRequestException");
            _compilationError = e.RemoteMessage;
        }
        _lastCodeChangeTicks = null;
        StateHasChanged();
        return true;
    }

    private void CodeChanged(ChangeEventArgs obj)
    {
        _log.LogInformation("code changed");
        _currentRobotCode = obj.Value as string;
        _lastCodeChangeTicks = Environment.TickCount;
    }

    public void Dispose()
    {
        _tickerCancellationTokenSource?.Cancel();
    }
}
