#robotCode {
    font-family: "JetBrains Mono", "Fira Code", "Cascadia Code", "Consolas", monospace;
}

textarea:focus-within, input[type="text"]:focus-within {
    background-color: #121516;
    color: #e9ecef;
}
