@page "/"
@using Microsoft.Extensions.Logging
@inject ILogger<Index> _log

<h1>jobotwar</h1>

<div class="row">
    <div class="col-sm-8">
        A programming game based on <a target="_blank" href="https://en.wikipedia.org/wiki/RobotWar">RobotWar</a>
        <p>
            View the source code <a target="_blank" href="https://github.com/smackem/jobotwar">@@github</a>
        </p>
        <img src="/jobot.png" alt="jobot" /><br/>
        <small><i>jobot image &copy; j3lly</i></small>
    </div>
    <div class="col-sm-4">
        <div class="card bg-info m-3">
            <div class="card-header">
                Info
            </div>
            <div class="card-body">
                <p>
                    Robotwar (&copy; Muse Software) is a classic programming game from the 80s, featuring a simple
                    assembler-like programming language.<br/>
                    Jobotwar features similar down-to-earth graphics, but uses a much nicer
                    programming language, specifically designed for programming robots.
                </p>
                <p>
                    Vist <a target="_blank" href="https://en.wikipedia.org/wiki/RobotWar">wikipedia</a> for more info on the original game.
                </p>
            </div>
        </div>
    </div>
</div>
