@page "/"

<h1>jobotwar</h1>

<p>
    View the source code <a target="_blank" href="https://github.com/smackem/jobotwar">@@github</a>
</p>

<div class="row">
    <div class="col-sm-8">
        A programming game based on RobotWar
    </div>
    <div class="col-sm-4">
        <div class="card border-info m-3">
            <div class="card-header">
                Info
            </div>
            <div class="card-body">
                <img src="/robotwar_cover.png" alt="robotwar game cover &copy; Muse Software"
                     style="alignment: center" />
                robotwar game cover &copy; Muse Software
            </div>
        </div>
    </div>
</div>
